.carrosel--section {
  margin-bottom: 150px;
  max-width: 100vw;
}

.swiper {
  width: 100vw;
  height: 90vh;
}

.swiper-slide {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  left: 10%;
  padding: 30px;
  border-radius: 100%;
  color: var(--cor-principal);
  background-color: var(--cor-secundaria);
}

.swiper-button-next {
  right: 10%;
  padding: 30px;
  border-radius: 100%;
  color: var(--cor-principal);
  background-color: var(--cor-secundaria);
}

@media (max-width: 768px) {
  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 650px) {
  .carrosel--section {
    margin-bottom: 30px;
    max-width: 100vw;
  }

  .post {
    width: 90vw;
    height: auto;
    object-fit: cover;
  }

  .swiper {
    width: 100vw;
    height: auto;
  }
}
